{% extends 'base.html' %}

{% block title %}
<title>Интернет-магазин - главная страница</title>
{% endblock %}

{% block body %}
<main class="main">
    <section class="intro">
        <img src="{{ url_for('static', filename='img/woman_in_red.jpg') }}" alt="The brand of luxerious fashion" class="intro__img">
        <div class="intro__heading_wrapper">
            <h1 class="intro__heading">the brand<span class="intro__text">of luxerious<span class="intro__pink">fashion</span></span></h1>
        </div>
    </section>
    <section class="stock">
        <h2 class="visually-hidden">Stock</h2>
        <ul class="stock__list container">
            <li class="stock__item stock__item_woman">
                <p class="stock__item_text"><a href="/for_women" style="color:white">Женщинам</a></p>
            </li>
            <li class="stock__item stock__item_man">
                <p class="stock__item_text"><a href="/for_men" style="color:white">Мужчинам</a></p>
            </li>
            <li class="stock__item stock__item_kids">
                <p class="stock__item_text"><a href="/for_kids" style="color:white">Детям</a></p>
            </li>
            <li class="stock__item stock__item_accessoires">
                <p class="stock__item_text"><a href="/accessories" style="color:white">Аксессуары</a></p>
            </li>
        </ul>
    </section>
    <section class="featured container">
        <h2 class="featured__heading">Популярные товары</h2>
        <p class="featured__text">Выбирайте товары на основе трендов этой недели</p>
        <ul class="featured__list">
            <li class="featured__item">
                <div class="featured__item_imgwrapper">
                    <img class="featured__item_img" src="static/img/images/kid_in_polo.jpg" alt="Рубашка-поло с короткими рукавами">
                    <div class="featured__item_overlay"></div>
                    <button type="button" class="featured__item_button">
                        <img src="{{ url_for('static', filename='img/basket.svg') }}" alt="Добавить в корзину" class="featured__item_btnimg">
                        <span class="featured__item_btntxt">Добавить в корзину</span>
                    </button>
                </div>
                <h3 class="featured__item_heading">Рубашка-поло с короткими рукавами</h3>
                <p class="featured__item_text">Футболка-поло с короткими рукавами из трикотажа пике JACK & JONES (Джек Джонс)</p>
                <p class="featured__item_price">4 599 руб.</p>
            </li>
            <li class="featured__item">
                <div class="featured__item_imgwrapper">
                    <img class="featured__item_img" src="static/img/images/woman_in_red.jpg" alt="Шорты мандарин">
                    <div class="featured__item_overlay"></div>
                    <button type="button" class="featured__item_button">
                        <img src="{{ url_for('static', filename='img/basket.svg') }}" alt="Добавить в корзину" class="featured__item_btnimg">
                        <span class="featured__item_btntxt">Добавить в корзину</span>
                    </button>
                </div>
                <h3 class="featured__item_heading">Шорты мандарин</h3>
                <p class="featured__item_text">Шорты мандарин MORGAN. Заниженная посадка, оригинальные карманы спереди.</p>
                <p class="featured__item_price">8349 руб.</p>
            </li>
            <li class="featured__item">
                <div class="featured__item_imgwrapper">
                    <img class="featured__item_img" src="static/img/images/woman_in_black.jpg" alt="Комбинезон с плиссированными брючинами">
                    <div class="featured__item_overlay"></div>
                    <button type="button" class="featured__item_button">
                        <img src="{{ url_for('static', filename='img/basket.svg') }}" alt="Добавить в корзину" class="featured__item_btnimg">
                        <span class="featured__item_btntxt">Добавить в корзину</span>
                    </button>
                </div>
                <h3 class="featured__item_heading">Комбинезон</h3>
                <p class="featured__item_text">Комбинезон свободного покроя с плиссированными брючинами темно-синий.</p>
                <p class="featured__item_price">14 499 руб.</p>
            </li>
            <!-- Add more items as needed -->
        </ul>
        <a class="featured__link" href="/catalog">
            <div class="featured__button">Посмотреть все товары</div>
        </a>
    </section>
    <section class="advantages">
        <div class="container advantages__wrapper">
            <ul class="advantages__list">
                <li class="advantages__list-item">
                    <img class="advantages__list-item-img" src="{{ url_for('static', filename='img/truck.svg') }}" height="40" alt="Free Delivery">
                    <h4 class="advantages__list-heading">Бесплатная доставка</h4>
                    <p class="advantages__list-text">Доставка по России.</p>
                </li>
                <li class="advantages__list-item">
                    <img class="advantages__list-item-img" src="{{ url_for('static', filename='img/percent.svg') }}" height="40" alt="Sales & discounts">
                    <h4 class="advantages__list-heading">Скидки и акции</h4>
                    <p class="advantages__list-text">Специальные предложения каждую неделю.</p>
                </li>
                <li class="advantages__list-item">
                    <img class="advantages__list-item-img" src="{{ url_for('static', filename='img/crown.svg') }}" height="40" alt="Quality assurance">
                    <h4 class="advantages__list-heading">Гарантия качества</h4>
                    <p class="advantages__list-text">Широкий ассортимент моделей от надежных производителей.</p>
                </li>
            </ul>
        </div>
    </section>
</main>
{% endblock %}
