{% extends 'base.html' %}

{% block title %}
<title>Интернет-магазин - Регистрация</title>
{% endblock %}

{% block body %}
<main class="main">
    <section class="heading">
        <h2 class="heading__heading container">Регистрация</h2>
    </section>
    <section class="registration">
        <div class="registration__content_wrapper container">
            <form action="/register" method="post" class="registration__form">
                <fieldset class="registration__fieldset">
                    <legend class="registration__form_name_legend">Персональные данные</legend>
                    <input type="text" name="first_name" class="registration__form_input" id="first_name" placeholder="Имя" required>
                    <input type="text" name="last_name" class="registration__form_input" id="last_name" placeholder="Фамилия" required>
                </fieldset>
                <fieldset class="registration__fieldset">
                    <legend class="registration__form_login_legend">Данные для входа в аккаунт</legend>
                    <input type="email" name="email" class="registration__form_input" id="email" placeholder="Email" required>
                    <input type="password" name="password" class="registration__form_input" id="password" placeholder="Пароль" required>
                    <p class="registration__form_text">Пожалуйста, используйте 8 или более символов, по крайней мере 1 цифру и сочетание прописных и строчных букв</p>
                </fieldset>
                <button type="submit" class="registration__form_submit" style="width: 250px">Зарегистрироваться</button>
            </form>
        </div>
    </section>
</main>
{% endblock %}
